<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<form action='/articles/:id' method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete">
</form>
